body {
    background-color: #1e1e1e;
    color: grey;
    font-family: system-ui, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

vscode-dropdown {
    margin-bottom: 20px;
}

label {
    margin-bottom: 4px;
}
